# ============================================================
# EXAMPLE — Copier en .env.dev ou .env.prod et remplir
# ============================================================

ENV=dev  # dev | prod

# MLflow — dev: http://mlflow:5000 (docker-compose) | prod: http://89.58.44.97:5000
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_ARTIFACT_ROOT=/mlflow/artifacts

POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=true

API_URL=http://api:8000
STREAMLIT_SERVER_PORT=8501

GRAFANA_ADMIN_PASSWORD=your_password
PROMETHEUS_RETENTION=15d
